global:
  domain: argocd.cluster.integratn.tech

configs:
  params:
    server.insecure: true
    server.url: https://argocd.cluster.integratn.tech

dex:
  enabled: false

server:
  service:
    annotations:
      metallb.universe.tf/loadBalancerIPs: 10.0.4.201

extraObjects:
  - apiVersion: gateway.networking.k8s.io/v1
    kind: HTTPRoute
    metadata:
      name: argocd
      namespace: argocd
    spec:
      parentRefs:
        - name: nginx-gateway
          namespace: nginx-gateway
          sectionName: https
      hostnames:
        - argocd.cluster.integratn.tech
      rules:
        - matches:
            - path:
                type: PathPrefix
                value: /
          backendRefs:
            - name: argo-cd-argocd-server
              port: 80
  - apiVersion: gateway.networking.k8s.io/v1
    kind: HTTPRoute
    metadata:
      name: argocd-http-redirect
      namespace: argocd
    spec:
      parentRefs:
        - name: nginx-gateway
          namespace: nginx-gateway
          sectionName: http
      hostnames:
        - argocd.cluster.integratn.tech
      rules:
        - filters:
            - type: RequestRedirect
              requestRedirect:
                scheme: https
                statusCode: 301
          matches:
            - path:
                type: PathPrefix
                value: /