---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: default
  namespace: metallb-system

spec:
  ipAddressPools:
    - default
  nodeSelectors:
    - matchExpressions:
        - key: kubernetes.io/hostname
          operator: Exists

