apiVersion: platform.integratn.tech/v1alpha1
kind: ArgoCDApplication
metadata:
  name: vcluster-media
  namespace: platform-requests
spec:
  name: vcluster-media
  namespace: argocd
  project: vcluster-media
  annotations:
    argocd.argoproj.io/sync-wave: "0"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  source:
    repoURL: https://charts.loft.sh
    chart: vcluster
    targetRevision: 0.31.0
    helm:
      releaseName: vcluster-media
      valuesObject:
        controlPlane:
          distro:
            k8s:
              enabled: true
              version: v1.34.3
  destination:
    server: https://kubernetes.default.svc
    namespace: vcluster-media
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true
