apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kratix-state-reconciler
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/jamesatintegratnio/kratix-platform-state
    targetRevision: main
    path: clusters/the-cluster
  destination:
    server: https://kubernetes.default.svc
    namespace: kratix-platform-system
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true
  ignoreDifferences:
    - kind: ConfigMap
      name: coredns-x-kube-system-x-test
      namespace: vcluster-test
      jsonPointers:
        - /data/NodeHosts
    - kind: ConfigMap
      name: coredns-x-kube-system-x-test2
      namespace: vcluster-test-2
      jsonPointers:
        - /data/NodeHosts
    - kind: ConfigMap
      name: coredns-x-kube-system-x-test3
      namespace: vcluster-test-3
      jsonPointers:
        - /data/NodeHosts
    - kind: ConfigMap
      name: coredns-x-kube-system-x-test4
      namespace: vcluster-test-4
      jsonPointers:
        - /data/NodeHosts
    - kind: ConfigMap
      name: coredns-x-kube-system-x-media
      namespace: vcluster-media
      jsonPointers:
        - /data/NodeHosts
    - kind: Job
      jsonPointers:
        - /spec
        - /status
    - kind: Application
      namespace: argocd
      jsonPointers:
        - /metadata/annotations/argocd.argoproj.io~1tracking-id
        - /metadata/annotations/kubectl.kubernetes.io~1last-applied-configuration
