matchbox/assets/talos/*/*.yaml
matchbox/assets/talos/*/talosconfig
**/initramfs.xz
**/vmlinuz
**/kubeconfig

**/dockerconfig.json

secrets.env

# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/*.tfvars
**/crash.log
**/crash.*.log
**/.terraformrc
**/terraform.rc
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json
**/backend.hcl
# Node.js files for MCP server
package.json
package-lock.json
node_modules/

# Local scratch directory
tmp/

# macOS
.DS_Store
result
images/platform-status-reconciler/platform-status-reconciler
