alertmanager:
  enabled: false

grafana:
  enabled: false

prometheus-node-exporter:
  enabled: false

kubeEtcd:
  enabled: false

kubeControllerManager:
  enabled: false

kubeScheduler:
  enabled: false

kubeProxy:
  enabled: false

kubelet:
  enabled: false

prometheus:
  service:
    type: ClusterIP
  prometheusSpec:
    mode: agent
    enableFeatures:
      - agent
    retention: 6h
    scrapeInterval: 30s
    serviceMonitorSelectorNilUsesHelmValues: false
    podMonitorSelectorNilUsesHelmValues: false
    serviceMonitorSelector: {}
    podMonitorSelector: {}
    probeSelector: {}
    storageSpec: {}

kube-state-metrics:
  enabled: true
