alertmanager:
  enabled: false

grafana:
  enabled: false

nodeExporter:
  enabled: false

kubeEtcd:
  enabled: false

kubeControllerManager:
  enabled: false

kubeScheduler:
  enabled: false

kubeProxy:
  enabled: false

prometheus:
  service:
    type: ClusterIP
  prometheusSpec:
    retention: 6h
    scrapeInterval: 30s
    serviceMonitorSelectorNilUsesHelmValues: false
    podMonitorSelectorNilUsesHelmValues: false
    storageSpec: {}
