apiVersion: platform.integratn.tech/v1alpha1
kind: VCluster
metadata:
  name: dev-team-cluster
  namespace: vcluster-dev-team
spec:
  name: dev-team
  targetNamespace: vcluster-dev-team
  preset: dev
  k8sVersion: "v1.34.3"
  isolationMode: standard
  networking:
    clusterDomain: cluster.local
  hostname: dev-team.integratn.tech
  subnet: 10.0.6.0/24
  # apiPort defaults to 8443
  # vip defaults to .100 within the subnet
  # Optional overrides (any Helm values are allowed)
  helmOverrides:
    controlPlane:
      coredns:
        deployment:
          replicas: 2
