apiVersion: platform.integratn.tech/v1alpha1
kind: ArgoCDProject
metadata:
  name: vcluster-dev-team
  namespace: vcluster-dev-team
spec:
  name: vcluster-dev-team
  namespace: argocd
  description: VCluster project for dev-team
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
  labels:
    app.kubernetes.io/managed-by: kratix
    argocd.argoproj.io/project-group: appteam
  sourceRepos:
    - https://charts.loft.sh
  destinations:
    - server: https://kubernetes.default.svc
      namespace: vcluster-dev-team
  clusterResourceWhitelist:
    - group: '*'
      kind: '*'
  namespaceResourceWhitelist:
    - group: '*'
      kind: '*'
