apiVersion: platform.integratn.tech/v1alpha1
kind: ArgoCDApplication
metadata:
  name: vc-{{ .Name }}
  namespace: {{ .Namespace }}
  labels:
    app.kubernetes.io/name: argocd-application
    app.kubernetes.io/managed-by: kratix
    kratix.io/promise-name: {{ .WorkflowContext.PromiseName }}
    kratix.io/resource-name: {{ .Name }}
spec:
  name: vc-{{ .Name }}
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "0"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  project: {{ .ProjectName }}
  destination:
    server: {{ .ArgoCDDestServer }}
    namespace: {{ .TargetNamespace }}
  source:
    repoURL: {{ .ArgoCDRepoURL }}
    chart: {{ .ArgoCDChart }}
    targetRevision: {{ .ArgoCDTargetRevision }}
    helm:
      releaseName: {{ .Name }}
      valuesObject:
{{ .ValuesObject | toYaml | indent 8 }}
{{ if .ArgoCDSyncPolicy }}  syncPolicy:
{{ .ArgoCDSyncPolicy | toYaml | indent 4 }}
{{ end }}
