apiVersion: platform.integratn.tech/v1alpha1
kind: ArgoCDApplication
metadata:
  name: {{ .Name }}
  namespace: {{ .Namespace }}
  labels:
    app.kubernetes.io/name: argocd-application
    app.kubernetes.io/managed-by: kratix
    kratix.io/promise-name: {{ .WorkflowContext.PromiseName }}
    kratix.io/resource-name: {{ .Name }}
spec:
  namespace: argocd
  name: vc-{{ .Name }}
  annotations:
{{ if .VIP }}              loadBalancerIP: {{ .VIP }}
{{ end }}              ports:
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  project: {{ .ProjectName }}
  destination:
    server: {{ .ArgoCDDestServer }}
    namespace: {{ .TargetNamespace }}
  source:
    repoURL: {{ .ArgoCDRepoURL }}
    chart: {{ .ArgoCDChart }}
    targetRevision: {{ .ArgoCDTargetRevision }}
    helm:
      releaseName: {{ .Name }}
      valuesObject:
        controlPlane:
          distro:
            k8s:
              enabled: true
              image:
                tag: {{ .K8sVersion }}
          serviceMonitor:
            enabled: true
            labels:
              vcluster_name: {{ .Name }}
              vcluster_namespace: {{ .TargetNamespace }}
              environment: {{ .ArgoCDEnvironment }}
              cluster_role: vcluster
          statefulSet:
            highAvailability:
              replicas: {{ .Replicas }}
            scheduling:
              podManagementPolicy: Parallel
              priorityClassName: system-cluster-critical
            imagePullPolicy: Always
            image:
              repository: loft-sh/vcluster-oss
            persistence:
              volumeClaim:
                enabled: {{ .PersistenceEnabled | toBool }}
                size: {{ .PersistenceSize }}
{{ if .PersistenceClass }}                storageClass: {{ .PersistenceClass }}
{{ end }}            resources:
              requests:
                cpu: {{ .CPURequest }}
                memory: {{ .MemoryRequest }}
              limits:
                cpu: {{ .CPULimit }}
                memory: {{ .MemoryLimit }}
          coredns:
            enabled: true
            deployment:
              replicas: {{ .CorednsReplicas }}
            overwriteConfig: |
              .:1053 {
                errors
                health
                ready
                kubernetes {{ .ClusterDomain }} in-addr.arpa ip6.arpa {
                  pods insecure
                  fallthrough in-addr.arpa ip6.arpa
                  ttl 30
                }
                prometheus 0.0.0.0:9153
                forward . /etc/resolv.conf
                cache 30
                loop
                reload
                loadbalance
              }
{{ if .BackingStore }}          backingStore:
{{ .BackingStore | toYaml | indent 12 }}
{{ end }}          ingress:
            enabled: false
{{ if .ProxyExtraSANs }}          proxy:
            extraSANs:
{{ range .ProxyExtraSANs }}              - {{ . }}
{{ end }}{{ end }}          service:
            enabled: true
            annotations:
              external-dns.alpha.kubernetes.io/hostname: {{ .Hostname }}
            spec:
              type: LoadBalancer
{{ if .VIP }}              loadBalancerIP: {{ .VIP }}
{{ end }}              ports:
                - name: https
                  port: {{ .APIPort }}
                  targetPort: 8443
                  protocol: TCP
{{ if ne .APIPort 443 }}                - name: https-internal
                  port: 443
                  targetPort: 8443
                  protocol: TCP
{{ end }}          advanced:
            podDisruptionBudget:
              enabled: true
              minAvailable: 1
        deploy:
          metallb:
            enabled: true
        integrations:
          externalSecrets:
            enabled: true
            webhook:
              enabled: true
            sync:
              fromHost:
                clusterStores:
                  enabled: true
                  selector:
                    matchLabels:
{{ range $key, $value := .ExternalSecretsStoreLabels }}                      {{ $key }}: {{ $value }}
{{ end }}          metricsServer:
            enabled: true
          certManager:
            enabled: true
            sync:
              fromHost:
                clusterIssuers:
                  enabled: true
                  selector:
                    labels:
{{ range $key, $value := .CertManagerIssuerLabels }}                      {{ $key }}: {{ $value }}
{{ end }}        telemetry:
          enabled: false
        logging:
          encoding: json
        networking:
          advanced:
            clusterDomain: {{ .ClusterDomain }}
          replicateServices:
            fromHost:
              - from: default/kubernetes
                to: default/kubernetes
        sync:
          toHost:
            pods:
              enabled: true
            persistentVolumes:
              enabled: true
            ingresses:
              enabled: true
            networkPolicies:
              enabled: false
          fromHost:
            storageClasses:
              enabled: true
            ingressClasses:
              enabled: true
            secrets:
              enabled: true
              mappings:
                byName:
                  external-secrets/eso-onepassword-token: external-secrets/eso-onepassword-token
        rbac:
          clusterRole:
            enabled: true
            extraRules:
              - apiGroups:
                  - ""
                resources:
                  - secrets
                verbs:
                  - get
                  - list
                  - watch
                resourceNames:
                  - eso-onepassword-token
{{ if .HelmOverrides }}{{ .HelmOverrides | toYaml | indent 8 }}
{{ end }}{{ if .ArgoCDSyncPolicy }}  syncPolicy:
{{ .ArgoCDSyncPolicy | toYaml | indent 4 }}
{{ end }}
