apiVersion: platform.integratn.tech/v1alpha1
kind: ArgoCDProject
metadata:
  name: {{ .ProjectName }}
  namespace: {{ .Namespace }}
  labels:
    app.kubernetes.io/name: argocd-project
    app.kubernetes.io/managed-by: kratix
    kratix.io/promise-name: {{ .WorkflowContext.PromiseName }}
    kratix.io/resource-name: {{ .Name }}
spec:
  namespace: argocd
  name: {{ .ProjectName }}
  description: "VCluster project for {{ .Name }}"
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
  labels:
    app.kubernetes.io/managed-by: kratix
    kratix.io/promise-name: {{ .WorkflowContext.PromiseName }}
    kratix.io/resource-name: {{ .Name }}
    argocd.argoproj.io/project-group: appteam
  sourceRepos:
    - "https://charts.loft.sh"
  destinations:
    - namespace: "{{ .TargetNamespace }}"
      server: "https://kubernetes.default.svc"
  clusterResourceWhitelist:
    - group: "*"
      kind: "*"
  namespaceResourceWhitelist:
    - group: "*"
      kind: "*"
