apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ .Name }}-kubeconfig
  namespace: {{ .TargetNamespace }}
  labels:
    app.kubernetes.io/name: external-secret
    app.kubernetes.io/component: kubeconfig
    app.kubernetes.io/managed-by: kratix
    kratix.io/promise-name: {{ .WorkflowContext.PromiseName }}
    kratix.io/resource-name: {{ .Name }}
spec:
  secretStoreRef:
    name: onepassword-connect
    kind: ClusterSecretStore
  target:
    name: {{ .Name }}-kubeconfig
    template:
      engineVersion: v2
      data:
        config: |
          {{ `{{ .kubeconfig }}` }}
  dataFrom:
    - extract:
        key: {{ .OnePasswordItem }}
  refreshInterval: 15m
