apiVersion: v1
kind: Namespace
metadata:
  name: {{ .TargetNamespace }}
  labels:
    app.kubernetes.io/name: vcluster-namespace
    app.kubernetes.io/managed-by: kratix
    kratix.io/promise-name: {{ .WorkflowContext.PromiseName }}
    kratix.io/resource-name: {{ .Name }}
    vcluster.loft.sh/namespace: "true"
