env:
  - name: CF_API_KEY
    valueFrom:
      secretKeyRef:
        name: cloudflare-api-key
        key: CF_API_KEY
  - name: CF_API_EMAIL
    valueFrom:
      secretKeyRef:
        name: cloudflare-api-key
        key: CF_API_EMAIL

logLevel: info

domainFilters:
  - media.integratn.tech

provider:
  name: cloudflare

sources:
  - gateway-httproute
  - service

policy: sync
registry: txt

txtOwnerId: vcluster-media
txtPrefix: vcluster-media-

extraArgs:
  - --gateway-name=nginx-gateway

resources:
  requests:
    cpu: 100m
    memory: 100Mi
  limits:
    cpu: 500m
    memory: 500Mi
