serviceMonitor:
  enabled: true

config:
  clients:
    - url: http://loki-gateway.loki.svc.cluster.local/loki/api/v1/push
      external_labels:
        cluster: the-cluster
        environment: production
