deploymentMode: SingleBinary

loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1
  storage:
    type: filesystem
  limits_config:
    retention_period: 168h

singleBinary:
  replicas: 1
  persistence:
    enabled: true
    storageClass: config-nfs-client
    size: 50Gi

simpleScalable:
  replicas: 0

read:
  replicas: 0

write:
  replicas: 0

backend:
  replicas: 0

gateway:
  enabled: true
  service:
    type: ClusterIP
