nginx:
  service:
    loadBalancerIP: 10.0.4.205
    externalTrafficPolicy: Cluster

gateways:
  - name: nginx-gateway
    namespace: nginx-gateway
    labels:
      app: nginx-gateway-fabric
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
      argocd.argoproj.io/compare-options: IgnoreExtraneous
      argocd.argoproj.io/sync-options: Prune=false
    spec:
      gatewayClassName: nginx
      addresses:
        - type: IPAddress
          value: 10.0.4.205
      listeners:
        - name: http
          port: 80
          protocol: HTTP
          hostname: "*.cluster.integratn.tech"
          allowedRoutes:
            namespaces:
              from: All
        - name: https
          port: 443
          protocol: HTTPS
          hostname: "*.cluster.integratn.tech"
          tls:
            mode: Terminate
            certificateRefs:
              - group: ""
                kind: Secret
                name: wildcard-integratn-tech-tls
          allowedRoutes:
            namespaces:
              from: All
