apiVersion: v1
kind: PersistentVolume
metadata:
  name: sonarr-config-pv
  labels:
    app: sonarr
spec:
  accessModes:
    - ReadWriteOnce
  capacity:
    storage: 1Gi
  nfs:
    path: /mnt/user/kube_storage/sonarr-config-pvc
    server: 10.0.0.12
  persistentVolumeReclaimPolicy: Retain
  storageClassName: config-nfs-client
  volumeMode: Filesystem
  claimRef:
    namespace: vcluster-media
    name: sonarr-config-pvc-x-media-x-media
