applicationName: sabnzbd
extraObjects:
  - apiVersion: v1
    kind: PersistentVolume
    metadata:
      name: sabnzbd-config-pv
      labels:
        app: sabnzbd
      annotations:
        pv.kubernetes.io/provisioned-by: k8s-sigs.io/nfs-subdir-external-provisioner
    spec:
      accessModes:
        - ReadWriteOnce
      capacity:
        storage: 1Gi
      nfs:
        path: /mnt/user/kube_storage/sabnzbd-config-pvc
        server: 10.0.0.12
      persistentVolumeReclaimPolicy: Retain
      storageClassName: config-nfs-client
      volumeMode: Filesystem
  - apiVersion: v1
    kind: PersistentVolumeClaim
    metadata:
      name: sabnzbd-config-pvc
      namespace: media
      labels:
        app: sabnzbd
    spec:
      storageClassName: config-nfs-client
      accessModes:
        - ReadWriteOnce
      resources:
        requests:
          storage: 1Gi
      volumeName: sabnzbd-config-pv
  - apiVersion: v1
    kind: PersistentVolume
    metadata:
      name: sabnzbd-media-pv
      labels:
        app: sabnzbd
      annotations:
        pv.kubernetes.io/provisioned-by: k8s-sigs.io/data-nfs-subdir-external-provisioner
    spec:
      accessModes:
        - ReadWriteOnce
      capacity:
        storage: 1Gi
      nfs:
        path: /mnt/user/data
        server: 10.0.0.12
      persistentVolumeReclaimPolicy: Retain
      storageClassName: data-nfs-client
      volumeMode: Filesystem
  - apiVersion: v1
    kind: PersistentVolumeClaim
    metadata:
      name: sabnzbd-media-pvc
      namespace: media
      labels:
        app: sabnzbd
    spec:
      storageClassName: data-nfs-client
      accessModes:
        - ReadWriteOnce
      resources:
        requests:
          storage: 1Gi
      volumeName: sabnzbd-media-pv
deployment:
  securityContext:
    fsGroup: 1000
    seccompProfile:
      type: RuntimeDefault
  containerSecurityContext:
    runAsNonRoot: false
    runAsUser: 0
    readOnlyRootFilesystem: false
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
      add:
        - CHOWN
        - DAC_OVERRIDE
        - FOWNER
        - SETUID
        - SETGID
  image:
    repository: ghcr.io/linuxserver/sabnzbd
    tag: latest
    pullPolicy: IfNotPresent
  ports:
    - name: http
      containerPort: 8080
      protocol: TCP
  env:
    TZ:
      value: America/Denver
    SABNZBD__PORT:
      value: "8080"
    SABNZBD__HOST_WHITELIST_ENTRIES:
      value: "sabnzbd,sabnzbd.default,sabnzbd.default.svc,sabnzbd.default.svc.cluster,sabnzbd.default.svc.cluster.local,sabnzbd.integratn.tech"
  additionalContainers:
    - name: exportarr
      image: ghcr.io/onedr0p/exportarr:v2.3.0
      command:
        - /exportarr
      args:
        - sabnzbd
      ports:
        - name: metrics
          containerPort: 9707
          protocol: TCP
      env:
        - name: PORT
          value: "9707"
        - name: URL
          value: http://localhost:8080
        - name: APIKEY
          valueFrom:
            secretKeyRef:
              name: homepage-secret
              key: HOMEPAGE_VAR_SABNZBD_KEY
  volumes:
    config:
      persistentVolumeClaim:
        claimName: sabnzbd-config-pvc
    media:
      persistentVolumeClaim:
        claimName: sabnzbd-media-pvc
  volumeMounts:
    config:
      mountPath: /config
    media:
      mountPath: /data
persistence:
  enabled: false
service:
  additionalLabels:
    prometheus: media-cluster
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
    - name: metrics
      port: 9707
      targetPort: 9707
      protocol: TCP
serviceMonitor:
  enabled: true
httpRoute:
  enabled: true
  parentRefs:
    - name: nginx-gateway
      namespace: nginx-gateway
      sectionName: https
  hostnames:
    - sabnzbd.vcluster-media.integratn.tech
  rules:
    - backendRefs:
        - name: sabnzbd
          port: 8080
      matches:
        - path:
            type: PathPrefix
            value: /
certificate:
  enabled: false
